<h2>Edição de Categorias</h2>
<hr>
    <div class="mx-5">
       Nome da categoria que está sendo editado: <strong>{{dados.nome}}</strong>
    </div>
<hr>
<form method="post">
    <div class="mb-3 row">
        <label for="nome" class="col-sm-3 col-form-label">Nome da Categoria: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome: " value="{{dados.nome}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-3 col-form-label">Tipo da Categoria: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Digite o tipo: " value="{{dados.tipo}}">
        </div>
    </div>
     <div class="mb-3 row">
        <label for="text" class="col-sm-3 col-form-label">Tempo: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="tempo" name="tempo" placeholder="Digite o tempo" value="{{dados.tempo}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-3 col-form-label" >Descrição: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a descrição" value="{{dados.descricao}}">
        </div>
    </div>
 
    <hr>
    <hr>
    <input type="submit" value="Salvar" class="btn btn-success"/>
    <a href="/privado/categorias">
        <button type="button" class="btn btn-danger">Cancelar</button>
    </a>
</form>