<h2>Deletar Produtos</h2>
<hr>
<form method="post">
    <div class="mb-3 row">
        <div class="col-sm-3">Nome do Produto: </div>
        <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
    </div>
     <div class="mb-3 row">
       <div class="col-sm-3">Categoria: </div>
        <div class="col-sm-9"><strong>{{dados.categoria}}</strong></div>
    </div>
     <div class="mb-3 row">
       <div class="col-sm-3">Preço: </div>
        <div class="col-sm-9"><strong>{{dados.preco}}</strong></div>
    </div>
    <div class="mb-3 row">
       <div class="col-sm-3">Descrição: </div>
        <div class="col-sm-9"><strong>{{dados.descricao}}</strong></div>
    </div>
    <div class="mb-3 row">
       <div class="col-sm-3">Quantidade Estoque: </div>
        <div class="col-sm-9"><strong>{{dados.qtdEstoque}}</strong></div>
    </div>
    <hr>
    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            Tem certeza que deseja deletar o Produto <strong>{{dados.nome}}</strong>?
        </div>
        <hr>
        <div>
            <input type="submit" value="Sim" class="btn btn-success"/>
            <a href="/privado/produtos">
                <button type="button" class="btn btn-danger">Não</button>
            </a>
        </div>
        
    </div>
    
</form>