
<style>
.cartao{
  width: 50%;
  position:relative;
  justify-content: space-around;
  padding-left: 5vw;
  align-content: center;
} 
#cartaoPromo{

    position: absolute ;
    background-color: #fa660b;
    border-radius: 1vh;
    width: auto;
    height: 3vh;
    
    
}
</style>

<h2>Editar Produtos</h2>

<hr>
    <div class="mx-5">
       Nome do Produto que está sendo editado: <strong>{{dados.nome}}</strong>
    </div>
<hr>
<div style="display: flex;">

<div class="cartao">
  
        
    <div class="col-md-3 " style="width: 45%;">
                <div class="card bg-dark text-white">
                    
        <div id="cartaoPromo" ></div>
                  <img id="imagemProduto" src="/img/{{dados.imagem}}" class="card-img-top" alt="Exemplo Produto" height="250vh">
                  <div class="card-body text-center">
                    <h5 class="card-title" ><span id="nomeProduto"></span></h5>
                    <p class="card-text" style="font-size: 5vh;">R$ <span id="precoProduto"></span></p>
                    <a onclick="addItem(this)" class="btn btn-primary" style="background-color: #000;border:none">Ver Produto</a>
                    <a  class="btn btn-primary" style="background-color: #fa660b;border:none">Comprar</a>

                  </div>
                </div>
    </div>
   
</div>

<div style="display: block;width:40%;">
<form method="post" >
    <div class="mb-3 row ">
        <label for="nome" class="col-sm-3 col-form-label">Nome do Produto: </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome:" value="{{dados.nome}}">
        </div>
    </div>
      <div class="mb-3 row">
      <label for="text" class="col-sm-3 col-form-label">Categoria: </label>
        <div class="col">
            <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Digite a Categoria:" value="{{dados.categoria}}">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="qtdEstoque" name="qtdEstoque" placeholder="Digite a Quantidade:" value="{{dados.qtdEstoque}}">
        </div>
    </div>
    <div >
        <div class="mb-3 row" >
        
        <label for="text" class="col-sm-3 col-form-label">Preço: </label>
            <div class="col">
                <input type="number" class="form-control" id="preco" name="preco" step="0.01"  placeholder="Digite a Preço:" value="{{dados.preco}}" >
            </div>
            <div class="col">
                <input type="number" class="form-control" id="precoPromo" name="precoPromo" step="0.01" placeholder="Se for promoção:" value="{{dados.precoPromo}}">
            </div>
        </div>
    </div>
    <div class="mb-3 row">  
       <label for="text" class="col-sm-3 col-form-label">Descrição: </label>
        <div class="col-sm-9">
            <textarea type="text" class="form-control" id="descricao" name="descricao" placeholder="Digite a descrição:" value="{{dados.descricao}}" rows="3"></textarea>
        </div>
    <div class="mb-3">
        <label for="imagem" class="form-label">Coloque a Imagem do Produto:</label>
        <input class="form-control" type="file" id="imagem" name="imagem" value="{{dados.imagem}}">
    </div>
    
    <hr>
    <div>
    <input type="submit" value="Salvar" class="btn btn-success"/>
    <a href="/privado/produtos">
        <button type="button" class="btn btn-danger">Cancelar</button>
    </a>
    </div>
</form>
</div>

</div>
 <script>
        // Seleciona o input e o elemento onde o texto será exibido
        const nome = document.getElementById("nomeProduto");
        const preco = document.getElementById("precoProduto");
        const inputImagem = document.getElementById("imagem");
        const imgPreview = document.getElementById("imagemProduto");
        const promo = document.getElementById("precoPromo")
        
        
        promo.addEventListener("input", function(){
            if(promo!==""){
                if(preco!==""){
                    let valorPromo = (100* parseFloat(promo.value))/parseFloat(preco.value)
                    valorPromo = 100-valorPromo
                    cartaoPromo.textContent = valorPromo.toFixed(0) + "% de Desconto"
                    
                precoProduto.textContent=promo.value
            }
       } });

        // Adiciona um listener ao evento 'input' para capturar o texto em tempo real
        nome.addEventListener("input", function() {
            // Atualiza o conteúdo do elemento 'resultado' com o valor do input
            nomeProduto.textContent = nome.value;
        });
         preco.addEventListener("input", function() {
            // Atualiza o conteúdo do elemento 'resultado' com o valor do input
            precoProduto.textContent = preco.value;
        });
        imagem.addEventListener("input",function(){
            imagemProduto.textContent = imagem.value
        });


        // Adiciona um listener para detectar mudanças no input de arquivo
        inputImagem.addEventListener("change", function() {
            const file = inputImagem.files[0]; // Obtém o primeiro arquivo selecionado

            if (file) {
                const reader = new FileReader();

                // Quando a leitura estiver concluída, define o src da imagem de pré-visualização
                reader.onload = function(e) {
                    imgPreview.src = e.target.result;
                    imgPreview.style.display = "block"; // Exibe a imagem
                };

                reader.readAsDataURL(file); // Converte o arquivo em uma URL base64
            } else {
                imgPreview.src = "";
                imgPreview.style.display = "none"; // Oculta a imagem se nenhum arquivo estiver selecionado
            }
        });

       
        
   
    </script>
