<h2>Detalhes do Fornecedor</h2>
<hr>
<form method="post" style="width: 60%;">
    <div class="mb-3 row">
        <div class="col-sm-3">Nome do Fornecedor: </div>
        <div class="col-sm-9"><strong>{{dados.nome}}</strong></div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-3">CNPJ: </div>
        <div class="col-sm-9"><strong>{{dados.CNPJ}}</strong></div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-3">Email: </div>
        <div class="col-sm-9"><strong>{{dados.email}}</strong></div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-3">Telefone: </div>
        <div class="col-sm-9"><strong>{{dados.telefone}}</strong></div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-3">Endereço: </div>
        <div class="col-sm-9"><strong>{{dados.endereco}}</strong></div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-3">Descrição: </div>
        <div class="col-sm-9"><strong>{{dados.descricao}}</strong></div>
    </div>

</form>
   <hr>
    <a href="/privado/fornecedores">
        <button type="button" class="btn btn-primary">Fechar</button>
    </a>